<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Entrar / Login</ion-title>
    <ion-img src="assets/em01.jpg" slot="end" class="logo-geral"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">

  <h2>Olá!</h2>
  <p>Logue-se para ter acesso a todos os recursos do aplicativo.</p>
  <p class="ion-text-center"><small>Você precisa ter uma conta do Google (Gmail).</small></p>
  <ion-button expand="block" (click)="login()">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Entrar com o Google
  </ion-button>

</ion-content>